*{
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    text-align: center;
}

h1 {
    font-style: italic;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}
