*{
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
}

h1 {
    font-style: italic;
    font-weight: 300;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}
